
.divflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


.navbar {
    background-color:black;
    color: white;
    display: block;
    margin: auto;
    width: 100%;
}

button {
    color: lightblue;
    font-size: .9em;
}
