<!--BTC MAIN-->

<div class="svg">
  <img  src="../../assets/images/Bitcoin_Logo.svg">
</div>

<h1 class="divflex">
    {{ currentDateTime?.timestamp | amFromUnix | amDateFormat:'LL' }} |
    {{ currentDateTime?.timestamp | amFromUnix | amDateFormat:'hh:mmA' }} 
</h1>

<h1 class="divflex" id="symbol">
  {{ bitCoinPrice?.Data?.AggregatedData?.FROMSYMBOL  }} > USD$ 
</h1>

<h1 class="divflex" id="high">
  High 24 hours: {{ bitCoinPrice?.Data?.AggregatedData?.HIGH24HOUR }} $
</h1>

<h1 class="divflex" id="last">
  Open 24 hours: {{  bitCoinPrice?.Data?.AggregatedData?.OPEN24HOUR }} $
</h1>

<h1 class="divflex" id="low">
  Low 24 hours: {{ bitCoinPrice?.Data?.AggregatedData?.LOW24HOUR }} $
</h1>



