
.divflex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: orangered;
    font-size: 1.23em;
}

#intro {
    width: 300px;
}

#title {
    align-content: center;
    font-size: 1.23em; 
    letter-spacing: 4px;
}

.button {
    font-size: 0.5em;   
    color: black;
    background-color:  white;
}

#date {
    color: lightblue
}